<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthMate"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBFiJNB3fgiEj5CFTz8Hn5YdV-xRtj_3t4" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".trend"
            android:parentActivityName=".MainActivity"
            android:label="Trends" />
        <activity
            android:name=".run"
            android:parentActivityName=".MainActivity"
            android:label="Running" />
        <activity
            android:name=".social"
            android:parentActivityName=".MainActivity"
            android:label="Socials" />
        <activity
            android:name=".NewMeal"
            android:parentActivityName=".MainActivity"
            android:label="Add a meal" />
        <activity
            android:name=".NewPost"
            android:parentActivityName=".MainActivity"
            android:label="Create New Social Media Post" />

        <activity android:name=".MapsActivity" />

    </application>

</manifest>